body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

section {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

div {
    width: 200px;
    height: 100px;
    background-color: gray;
    margin: 10px;
    text-align: center;
    line-height: 100px;
}

.second_part_left_block {
    margin-top: 10px;
}

.second_part_another_block {
    margin-top: 10px;
    margin-right: 20px;
}

.fourth_part_second_block{
    height: 240px;
}

.fourth_part_third_block{
    margin-top: -7.1%;
    margin-left: 70%;
}

.fiveth_part_first_block {
    width: 240px;
    height: 240px;
    background-color: gray;
    text-align: center;
    line-height: 240px;
    margin-left: 30%;
}

.fiveth_part_second_block,
.fiveth_part_third_block {
    height: 120px; 
    background-color: gray;
    margin-bottom: 10px; 
    text-align: center;
    line-height: 120px; 
    margin-right: 38%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}